body {
  background-image: url("pattern.svg");
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 70px 1fr 1fr;
  gap: 2rem;
}
h1 {
  font-family: "Annie Use Your Telescope", cursive;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
h2 {
  text-align: center;
}
.contact {
  list-style: none;
}
.card {
  background-color: antiquewhite;
  border-radius: 20px;
  border-style: solid;
  border-width: 7px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.text-card {
  padding: 7px;
}
.me {
  width: 492px;
  height: 326px;
}

@media (max-width: 1000px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .left,
  .right,
  .me,
  img {
    height: auto;
    width: auto;
  }
}
