body {
  background-image: url("pattern.svg");
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 326px 326px 326px;
  grid-template-rows: 70px 1fr 1fr;
  gap: 2rem;
}
h1 {
  font-family: "Annie Use Your Telescope", cursive;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
.left,
.right {
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 10px;
}
h2 {
  text-align: center;
}

/* .left,
.right {
  width: 326px;
  height: 492px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 5px;
} */
.me {
  width: 492px;
  height: 326px;
  background-color: antiquewhite;
  border-radius: 20px;
}
img {
  border-radius: 20px;
}

@media (max-width: 1000px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  /* .container {
    flex-direction: column;
    height: 100%;
  } */
  .left,
  .right,
  .me,
  img {
    height: auto;
  }
}
