body {
  /* background-color: #6eacda; */
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='30' patternTransform='scale(16) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240,6.7%,17.6%,1)'/><path d='M1-6.5v13h28v-13H1zm15 15v13h28v-13H16zm-15 15v13h28v-13H1z'  stroke-width='1' stroke='none' fill='hsla(47,80.9%,61%,1)'/><path d='M31-6.5v13h28v-13H31zm-45 15v13h28v-13h-28zm60 0v13h28v-13H46zm-15 15v13h28v-13H31z'  stroke-width='1' stroke='none' fill='hsla(4.1,89.6%,58.4%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-1056,0)' fill='url(%23a)'/></svg>"); */
  font-family: "Roboto", sans-serif;
}
#blue-section {
  background-color: #6eacda;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 340px 340px auto;
  grid-template-rows: 180px 492px 340px;
  gap: 20px;
}
h1 {
  font-family: "Mansalva", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
h2 {
  text-align: center;
}
.contact {
  list-style: none;
}
.card {
  background-color: #e2e2b6;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.text-card {
  padding: 20px;
}

.portrait-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 200px;
}
.right {
  height: 300px;
}
.me {
  width: 492px;
}

@media (max-width: 1100px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .card {
    height: auto;
    width: auto;
  }
  h1 {
    font-size: 50px;
  }
}
