/* Global Styles */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

#contact {
  margin-top: 50px;
}

.my-a {
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-bottom: 10px;
}
.my-a:hover {
  color: #6eacda;
}

/* Navbar */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 90%;
}
.menu-item {
  text-decoration: none;
  color: #000;
  font-size: 19px;
  font-weight: 500;
  padding: 10px;
  position: relative;
  font-style: italic;
}
.menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  height: 2px;
  width: 0;
  background: black;
  pointer-events: none;
}
.menu-item:hover::after {
  width: 100%;
}
.menu-item:hover {
  text-decoration: none;
}
.menu-item.active::after {
  width: 100%;
}
.menu-item.active {
  color: #6eacda;
}
.logo {
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.menu {
  display: flex;
  gap: 1rem;
}
.menu-toggle {
  display: none;
  font-size: 33px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Title */
#title {
  background-color: #6eacda;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
h2 {
  text-align: center;

  margin-left: 5px;
  margin-right: 5px;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}
.content img {
  height: 25px;
  padding-top: 1rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #6eacda;
  margin-top: 50px;
}
.container-footer {
  display: flex;
  justify-content: center;
  width: 90%;
}
.copyright {
  text-align: center;
  padding: 10px;
}

/* Responsive Styles */
@media (max-width: 1300px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 35px;
  }
}
@media (max-width: 650px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    top: 60px;
    right: 1rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  .menu.open {
    display: flex;
  }
  .menu-toggle {
    display: block;
  }
}
